<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - VFBarber</title>
    <link rel="stylesheet" href="/cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>VFBarber</h1>
        <h2>Corte, barba e estilo no ponto certo</h2>
    </header>

    <div class="auth-wrapper">
        <div class="auth-card">
            <h2>Criar conta</h2>
            <div class="divider"></div>

            <form th:action="@{/cadastro}" method="post">
                <label>Nome completo</label>
                <input type="text" name="nome" placeholder="Seu nome" required/>

                <label>Email</label>
                <input type="email" name="email" placeholder="seu@email.com" required/>

                <label>Senha</label>
                <input type="password" name="senha" placeholder="Mínimo 6 caracteres" required/>

                <button class="auth-btn" type="submit">Criar conta</button>
            </form>

            <span class="auth-link">
                Já tem conta? <a href="/login">Faça login</a>
            </span>
        </div>
    </div>
</body>
</html>
